.sort-by-button {
    max-width: 20px!important;
}

.innophase {
    font-size: 12px;
    font-weight: 500;
    color: #828c97;
    line-height: 1;
   
}

.card-sect-title {
    height: 50px;
    
}

.card-sect-shortdesc {
    height: 85px;
    overflow:hidden;
}
.card-sect-zoom {
    height: 20px;
}


