.boardphase {
    position: relative;
    display: inline;
    float: left;
    font-size: 12px;
    font-weight: 600;
    color: #828c97;
    line-height: 1;
    text-transform: uppercase;
}

.audit-card-footer {
   
    font-size: 12px;
    font-weight: 600;
    color: #828c97;
}
.audit-card-footer-div {
    position: relative;
    text-align: right;
    padding-top: 15px;
    
}

.card-sect-title {
    height: 40px;
}
.card-sect-shortdesc {
    height: 80px;
}

.w-audits-search {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Check boxes */
.example-section {
    margin: 12px 0;
}
  
.filter-chkbox-margin {
    margin: 0 12px;
}
  
ul {
    list-style-type: none;
    margin-top: 4px;
}