/* Innomain styles */

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif!important;
  font-weight: normal;
  font-style: normal;
  color: #3d434e;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 60%;
    color: #7c8296;
    line-height: 0; }

h1 {
  font-size: 2.125rem; }

h2 {
  font-size: 1.6875rem; }

h3 {
  font-size: 1.375rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1.125rem; }

h6 {
  font-size: 1rem; }
    
    

@media screen and (max-width: 767px) {

        
    .main-container-size {
        min-height: 8rem!important;
    }
    
    
    #aboutus-mission-text {
        margin-top: 6rem;
    }
    
    #aboutus-sub-menu {
         margin-top: 30px; 
         margin-left: 20px;
         display: block;
         font-size: 16px;
    }
    
    #index-request-demo {
        color: red!important; 
        font-size: 18px;
    }
    #showdocs-blog-main {
        width: 100%; 
        margin-left: 10px;
        text-align: center;
        min-height: 650px;
    }
    
    .showdocs-header-banner {
        min-height: 7rem!important;
       
    }
    .innomain-social-mobile {
        display: none;
    }
    
     .innomain-social-mobile-more {
        display: inline;
        margin-left: 10px;
        padding-top: 3px;
    }
    
    #innologin-login {
        margin-bottom: 30px; 
        width: 100%;
        text-align: center!important;
    }
   
}


@media (min-width: 768px) and (max-width: 991px) {

        
    .main-container-size {
        min-height: 8rem!important;
    }
    
    
    #aboutus-mission-text {
        margin-top: 6rem;
    }
    
    #aboutus-sub-menu {
         margin-top: 45px; 
         margin-left: 20px;
         display: block;
         font-size: 18px;
    }
    
     #index-request-demo {
        color: red; 
        font-size: 20px;
    }
    
    #showdocs-blog-main {
        width: 100%; 
        margin-left: 10px;
        text-align: center;
         min-height: 650px;
    }
    
    .showdocs-header-banner {
        min-height: 7rem!important;
        
    }
    
    .innomain-social-mobile {
        display: none;
    }
    
    .innomain-social-mobile-more {
        display: inline;
        margin-left: 10px;
         padding-top: 3px;
    }
     #innologin-login {
        margin-bottom: 30px; 
        width: 70%;
        text-align: center!important;
    }
   
}

@media (min-width: 992px) and (max-width: 1199px) {
    .main-container-size {
        min-height: 15rem!important;
    }
    
    
    #aboutus-mission-text {
        margin-top: 10rem;
    }
    
     #aboutus-sub-menu {
         display: none;
    }
    
     #index-request-demo {
        color: red; 
        font-size: 26px;
    }
    
    #showdocs-blog-main {
        width: 100%!important; 
        margin-left: 50px!important;
        text-align: center!important;
         min-height: 650px;
    }
    
    .showdocs-header-banner {
        min-height: 8rem!important;
        
    }
    
    .innomain-social-mobile {
        display: none;
    }
    
   .innomain-social-mobile-more {
        display: inline;
        margin-left: 10px;
         padding-top: 3px;
    }
     #innologin-login {
        margin-bottom: 30px; 
        width: 50%;
        text-align: center!important;
    }
    
}

@media screen and (min-width: 1200px) {
    
     .main-container-size {
        min-height: 15rem!important;
    }
    
    
    #aboutus-mission-text {
        margin-top: 10rem;
    }
    
    #aboutus-sub-menu {
         display: none;
    }
    
     #index-request-demo {
        color: red; 
        font-size: 26px;
    }
    
     #showdocs-blog-main {
        width: 100%!important; 
        margin-left: 50px!important;
        text-align: center!important;
         min-height: 650px;
    }
    
    .showdocs-header-banner {
        min-height: 8rem!important;
        
    }
    
    .innomain-social-mobile {
        display: none;
    }
    
   .innomain-social-mobile-more {
        display: inline;
        margin-left: 10px;
         padding-top: 3px;
    }
    
    #innologin-login {
        margin-bottom: 30px; 
        width: 40%;
        text-align: center!important;
    }
}