/* 
    Document   : wigoselinnotips
    Created on : Nov 4, 2018, 2:53:54 PM
    Author     : xaviernavarro
    Description:
        Purpose of the stylesheet follows.
*/

.w-selinnotips-inline {
    font-size: 14px;
    display: inline;
    
}
