/* 
    Document   : wigoyearsel
    Created on : Mar 3, 2019, 9:38:38 AM
    Author     : xaviernavarro
    Description:
        Purpose of the stylesheet follows.

    copyright: @Wigo Technologies 2018,2019
*/


.wigoyr-dropdown {
    font-size: 10px;
    background-color: #ffffff;
}