
  <div class=" container-fluid home-one">
    
    <app-page-header inUsername="{{inUsername}}" inFullname="{{inFullname}}" [inOklogin]=inOklogin [inErrorlogin]=inErrorlogin>
        
    </app-page-header>
  
  </div>

  <div id="boardmaster-panel-main" class="container-fluid wheader-main">
    <div class="row">
      <div id="innodtl-vert-menu" [ngStyle]="{ background: menubgcolor, color: menufgcolor}" class="col-2 col-md-1  whead-vmenu21 w-padding-50">
          <app-vmenu-main bgcolor="{{menubgcolor}}" fgcolor="{{menufgcolor}}"></app-vmenu-main>
      </div>
      <div id="innoview-comms" class="col-10 col-md-11 w-resp-pad-left-20 w-top-30 border-bottom w-top-120 w-padding-bottom-100">
        <div class="container-fluid w-top-20">
          <div class="row">
            <div class="d-none d-lg-flex col-lg-1"></div>
            <div class="col-12 col-lg-3">
         
              <a href="javascript: void(0);" (click)="openBoardFilters()">
                  <i *ngIf="filtersviewop" class="fas fa-filter"></i>
                  <i *ngIf="!filtersviewop" class="fas fa-angle-up"></i>
                  <span class="wigo-sm-font-size">
                    {{'MENU.FILTERS' | translate}}
                  </span>&nbsp;
                 
              </a>
            </div>
          </div>
          <div *ngIf="filtersview" class="row">
            <div class="d-none d-lg-flex col-lg-1"></div>
            <div class="col-12 col-lg-3">
              <mat-form-field appearance="outline" class="w-width-full">
                <mat-label> {{'APPHOME.SELAUDITOR' | translate}}</mat-label>
                <mat-select multiple [formControl]="selectedFW">
                  <mat-option *ngFor="let one of json.data" [value]="json.id">
                  {{ json.firstname }}
                 </mat-option>
                </mat-select>
              </mat-form-field>
              <app-loading-indicator *ngIf="loadingauditors"></app-loading-indicator>
            </div>
          </div>
        </div>
        
         
      </div>
    </div>
  </div>
