<div  class="row text-center rounded border bg-gradient_solid w-global-view w-padding-left-10 w-padding-right-10" >
  <div class="col-12 w-font-main-para">
      <div class="text-right w-padding-right-50">
          <a href="javascript:void" (click)="outTimeline()">
              <i class="fa fa-times-circle fa-2x text-white"></i>
          </a>
      </div>
      <div [innerHtml]="tlhtml" fxHide.gt-md="true">
        
      </div>
      <div class="bg-gradient_solid" fxHide.lt-md="true">
          <div class="container">
              <div class="section-header">
                  <h2 class="text-white">
                      {{timelinetitle}}
                  </h2>
                  <hr>
              </div>
              <div class="steps">
                  <div  *ngFor="let js of jsontimeline; let i = index" class="steps-container">
                      <div class="content">
                          <h2>{{js.nodetitle}}</h2>
                          <p>
                              {{js.nodedesc}} <br>&nbsp;{{'GLOBAL.BY' | translate}}&nbsp;<strong>{{js.byuser}}</strong>
                          </p>
                      </div>
                      <i class="step-line"></i>
                      <div class="date">{{js.fmttrandate}}</div>
                  </div>
              </div>
          </div>
        
      </div>
  </div>
</div>