<div id="vmenu-placeholder" style="margin-top: 70px;" class="wigovmenu" [ngStyle] = "{background: bgcolor}" [ngStyle]="{color: fgcolor}">
        
</div>
    <div id="innohome_vmenu_home" style="width: 100%;" class="wigovmenu text-center" data-container='body' data-html='true' data-placement='right'>
        <a href="#" onclick="return showDashboardSub();">
            <div id="inno-boards-icon" class="text-center" [ngStyle] = "{color: colStyle}">
                <mat-icon>home</mat-icon>
            </div>
            <div id="inno-boards-text" class="text-center">
                <span class="wigo-xs-noshow wigo-sm-font-size" [ngStyle] = "{color: colStyle}">
                    {{'MENU.BACK' | translate}}
                </span>
            </div>
      
        </a>
        <br>
        <div id="innohome_boards_tab_div" class="wigo-vtransp-menu-divider"></div>    
    </div>
    <div id="innohome_vmenu_add" style="width: 100%;" class="wigovmenu text-center w-top-10" data-container='body' data-html='true' data-placement='right'>
        <a href="#" onclick="return showDashboardSub();">
            <div id="inno-boards-icon" class="text-center" [ngStyle] = "{color: colStyle}">
                <mat-icon>table_chart</mat-icon>
                <!-- <i id='ih_vm_dash_i' class="fas fa-home pull-center"></i>&nbsp; -->
            </div>
            <div id="inno-boards-text" class="text-center">
                <span class="wigo-xs-noshow wigo-sm-font-size" [ngStyle] = "{color: colStyle}">
                    {{'MENU.ALLFINDS' | translate}}
                </span>
            </div>
      
        </a>
        <br>
        <div id="innohome_boards_tab_div" class="wigo-vtransp-menu-divider"></div>    
    </div>
   
    <div id="ih-vmenu-reps" style="width: 100%;" class="wigovmenu w-top-10 text-center" data-container='body' data-html='true' data-placement='right'>
 
        <a href="#" onclick="return showDashboard();">
            <div id="inno-boards-icon" class="text-center" [ngStyle] = "{color: colStyle}">
                <mat-icon>report</mat-icon>
                <!-- <i class="fas fa-filter pull-center"></i>&nbsp; -->
            </div>
            <div id="inno-boards-text" class="text-center">
                <span class="wigo-xs-noshow wigo-sm-font-size" [ngStyle] = "{color: colStyle}">
                    {{'MENU.PROPOSAL' | translate}}
                </span>
            </div>
        </a>
        <br>
        <div id="innohome_boards_tab_div" class="wigo-vtransp-menu-divider"></div>    
    </div>
    <div id="ih-vmenu-sets" style="width: 100%;" class="wigovmenu w-top-10 text-center" data-container='body' data-html='true' data-placement='right'>
        <a href="#" onclick="return showDashboard();">
            <div id="inno-boards-icon" class="text-center" [ngStyle] = "{color: colStyle}">
                <mat-icon>settings</mat-icon>
                <!-- <i class="fas fa-filter pull-center"></i>&nbsp; -->
            </div>
            <div id="inno-boards-text" class="text-center">
                <span class="wigo-xs-noshow wigo-sm-font-size" [ngStyle] = "{color: colStyle}">
                    {{'MENU.REVIEW' | translate}}
                </span>
            </div>
        </a>
        <br>
        <div id="innohome_boards_tab_div" class="wigo-vtransp-menu-divider"></div>    
    </div>
    <div id="ih-vmenu-implement" style="width: 100%;" class="wigovmenu w-top-10 text-center" data-container='body' data-html='true' data-placement='right'>
        <a href="#" onclick="return showDashboard();">
            <div id="inno-boards-icon" class="text-center" [ngStyle] = "{color: colStyle}">
                <mat-icon>settings</mat-icon>
                <!-- <i class="fas fa-filter pull-center"></i>&nbsp; -->
            </div>
            <div id="inno-boards-text" class="text-center">
                <span class="wigo-xs-noshow wigo-sm-font-size" [ngStyle] = "{color: colStyle}">
                    {{'MENU.IMPLEMENT' | translate}}
                </span>
            </div>
        </a>
        <br>
        <div id="innohome_boards_tab_div" class="wigo-vtransp-menu-divider"></div>    
    </div>
    <div id="ih-vmenu-finalized" style="width: 100%;" class="wigovmenu w-top-10 text-center" data-container='body' data-html='true' data-placement='right'>
        <a href="#" onclick="return showDashboard();">
            <div id="inno-boards-icon" class="text-center" [ngStyle] = "{color: colStyle}">
                <mat-icon>settings</mat-icon>
                <!-- <i class="fas fa-filter pull-center"></i>&nbsp; -->
            </div>
            <div id="inno-boards-text" class="text-center">
                <span class="wigo-xs-noshow wigo-sm-font-size" [ngStyle] = "{color: colStyle}">
                    {{'MENU.FINALIZED' | translate}}
                </span>
            </div>
        </a>
        <br>
        <div id="innohome_boards_tab_div" class="wigo-vtransp-menu-divider"></div>    
    </div>
   
