/* You can add global styles to this file, and also import other style files */
@import './assets/css/all.min.css';
@import './assets/css/pe-icon-7-stroke.css';
@import './assets/css/roysha-icons.css';
@import './assets/css/bootstrap.min.css';
@import './assets/css/owl.carousel.min.css';
@import './assets/css/jquery.fancybox.min.css';
@import './assets/css/nice-select.css';
@import './assets/css/style.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
    color: #007BFF!important;
    font-weight: 500 !important;
    text-decoration: none!important;
}




@media screen and (max-width: 767px) {
    
    .w-global-view {
        position: absolute; 
        top: 180px; 
        left: 10%; 
        background-color: 
        white; 
        z-index: 9999; 
        width: 80%; 
        min-height: 550px;
       
    
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .w-global-view {
        position: absolute; 
        top: 180px; 
        left: 10%; 
        background-color: 
        white; 
        z-index: 9999; 
        width: 80%; 
        min-height: 550px;
       
    
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .w-global-view {
        position: absolute; 
        top: 180px; 
        left: 10%; 
        background-color: 
        white; 
        z-index: 9999; 
        width: 80%; 
        min-height: 550px;
       
    
    }
}

@media screen and (min-width: 1200px) {
    .w-global-view {
        position: absolute; 
        top: 180px; 
        left: 10%; 
        background-color: 
        white; 
        z-index: 9999; 
        width: 80%; 
        min-height: 550px;
       
    
    }
    
    
      
}
